



  <div class="search-container">
    <form [formGroup]="filterForm">
      <input type="text" formControlName="filterinput" placeholder="Search.." name="search">
      
      <button type="submit" class="btn btn-primary" (click)="applyFilter()">Search</button>
    </form>
  </div>

<div class="row" style="margin: 5%">
  <div class="col-md-4" *ngFor="let result of results">
    <mat-card class="example-card">
      <div class="row">
        <div class="col-md-2">
          <!-- <mat-card-title>{{result.name}}</mat-card-title> -->
          <!-- <mat-card-subtitle style="float: right;"></mat-card-subtitle> -->
          <img mat-card-sm-image src="{{ result.image }}" />
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h4>{{ result.name }}</h4>
          <h5>{{ result.gender }}</h5>
          <h5>{{ result.species }}</h5>
          <h5>{{ result.location.name }}</h5>
          <h5><a href="{{ result.episode[0] }}">Episode</a></h5>
        </div>
      </div>
    </mat-card>
    <hr>
  </div>
</div>


